pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */
       border: 1px solid #008cba;
       -moz-border-radius: .2em;
       -webkit-border-radius: .2em;
       border-radius: .2em; /* just in case */
       padding: 1em;
       width: 100%;        
       margin-top: 1em;
       margin-bottom: 1em;
}

pre:hover{
	color: black; 
}


select, input{
	color: black; 
}

/* DEFAULT FONT */
h1, h2, h3, h4, h5, h6{
	font-family: inherit;
	color: inherit;  
}

p, a {
	font-family: inherit;	
	font-size: 1em; 
	color: inherit;  
} 
a:hover{
	font-family: 'Hammersmith One', 'sans-serif';
	color: inherit;
	text-decoration: none;  
}

.fonttype-1{
	font-family: 'Josefin Slab', 'serif';
}

.fonttype-2{
	font-family: 'Hammersmith One', 'sans-serif';
}


.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}

.a-slide:hover{
	color: white;
	
}

.a-slide:hover{
	color: gray;
	-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	transition: .5s;	
}

.ta-editor{
	padding: 10px; 
	background-color: white; 
}


input{
	padding: 8px; 
	margin-bottom: 15px; 
}

label{
	color: inherit; 
}

/* SITE SPECIFIC */
body {	
	background-color: color; 
}


.clothPattern{
	background-image:url("../media/home/clothtexture.png");	
    background-repeat: repeat;    
    
}


.blackAndWhite{
	background-color: black,
	color: white
}


.custom-gray{
	background-color: #EBEBEB;
}

.custom-header-active{
	background-color: #EBEBEB;
	color: black;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
		
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	
	padding: 10px;	
			
}


.custom-header-inactive{
	background-color: black;
	color: white;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
		
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	
	padding: 10px;	
			
}


.img-max{
	width: 250px;
}


.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  
  background-color: #ffffff;
  border: 2px dotted #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}





