<div class="" ng-init="init()">

	<div class="">
		<div class="small-12 columns custom-gray" style="padding: 30px">
			<div class="row">
				
				<div class="medium-8 small-12 columns container fonttype-1">
					<centered>					
						<h2>
						<strong>Company Agenda</strong>
						</h2>
						<h5  style="text-align: justify">
							{{lorem | words: 25}}
						</h5>
						<br><br>
						<button class="tiny rounded">Take the tour</button> <small>&nbsp;&nbsp;or&nbsp;&nbsp;</small>
						<button class="tiny rounded">Signup now!</button>
					</centered>
				</div>
				
				<div class="medium-4 small-12 columns">
					<centered>
						<img src="media/home/hard_drive.png" class="img-responsive"/>
					</centered>
				</div>
				
			</div>
		</div>	
	</div>	

	<div class="row">
		<div class="medium-6 small-12 columns">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					<h5>WHY I USE IT</h5>
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>		
					<br><br>	
					<centered>				
						<img src="media/home/mobiles.png" class="img-thumbnail img-responsive" />
					</centered>
					<br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>	
		<div class="medium-6 small-12 columns" ng-class="{true: 'custom-gray', false: ''}[responsive('< 640')]">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					<h5>WHO IS IT FOR?</h5>
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>
					<br>	
					<centered>						
						<img src="media/home/tablets.png" class="img-thumbnail img-responsive" />
					</centered>
					<br><br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>	
		

		<div class="medium-6 small-12 columns">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>		
					<br>		
					<centered>			
						<img src="media/home/graph1.png" class="img-thumbnail img-responsive" />
					</centered>
					<br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>	
		<div class="medium-6 small-12 columns" ng-class="{true: 'custom-gray', false: ''}[responsive('< 640')]">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>
					<br>
					<centered>							
						<img src="media/home/graph2.png" class="img-thumbnail img-responsive" />
					</centered>
					<br><br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>		
		
		
		<div class="medium-6 small-12 columns">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>		
					<br>	
					<centered>				
						<img src="media/home/fakeLogo.gif" class="img-thumbnail img-responsive" />
					</centered>
					<br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>	
		<div class="medium-6 small-12 columns" ng-class="{true: 'custom-gray', false: ''}[responsive('< 640')]">
				<br><br>
				<centered>
					<div class="container fonttype-2" style="text-align: justify">
					
					<h5 class="fonttype-1">{{lorem | words: 25}}</h5>
					<br>	
					<centered>						
						<img src="media/home/fakeLogo2.jpg" class="img-thumbnail img-responsive" />
					</centered>
					<br><br>
					<small  class="fonttype-2">{{lorem  | characters:125 :true }}</small>
					<br>
					</div>
				</centered>		
				<br>
		</div>			


		<div class="small-12 columns">
			<br><br>
			<br><br>
			<button class="expand"><small>Take the tour or Signup for free!</small></button>
			<br><br>
			<br><br>
		</div>
					
	</div>
	
	

			
</div>	

