<div class=""  >

	
	<div id="trueBottom" class="flat-secondary" style="width: 100%; background-color: black; color: white">

		<div class="row">
			<div class="medium-6 small-12 columns" style="text-align: justify">
				<div class="container">
					<br><br>
					<small><strong>Who We Are</strong></small>
					<br><br>
					<small class="fonttype-2">{{lorem  | words:125 :true }}</small>
					<br><br>
					<img src="media/home/facebook.png" style="width: 30px; margin-right: 20px"> <small>Find us on Facebook!</small>
					<br><br>
					<img src="media/home/twitter.png" style="width: 30px; margin-right: 20px"> <small>Tweet us on Twitter!</small>
					<br><br><br>
					<small>
						{{copyRight}}						
					</small>		
					<br><br><br>				
				</div>
			</div>
		
			<div class="medium-6 small-12 columns container" style="text-align: justify">
				<div class="container">
					<br><br>
					<small><strong>Quote From Satisified Customer:</strong></small>
					<br><br>
					<small class="fonttype-2"><i>"{{lorem  | words:85 :true }}"</i></small>
					<br><br><br>
					
					<small><strong>Quote From Another Satisified Customer:</strong></small>
					<br><br>
					<small class="fonttype-2"><i>"{{lorem  | words:105 :true }}"</i></small>
					<br><br><br>

					<small><strong>Quote From Another Satisified Customer:</strong></small>
					<br><br>
					<small class="fonttype-2"><i>"{{lorem  | words:105 :true }}"</i></small>
					<br><br><br>					
										
					<centered>
						<small>Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; Terms of Service &nbsp;&nbsp;|&nbsp;&nbsp; Privacy Policy</small>					
					</centered>	
					<br><br><br>		
				</div>				
			</div>
		</div>
	</div>




</div>
			
